{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=`, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.all.css' %}" />
  <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
  <link rel="stylesheet" href="{% static 'css/accomodation.css' %}" />
  <title>Accomodations Page</title>
</head>
<body>
  <!-- Navigation -->
  <header class="p-3 bg-primary text-white" style="background-color: maroon !important">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Branches</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Iba Main Campus</a>
              <a class="dropdown-item" href="#">Not Available</a>
              <a class="dropdown-item" href="#">Not Available</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Not Available</a>
            </div>
          </li>
          <li>
            <a href="{% url 'accomodation' %}" class="nav-link px-2 text-white">Rooms</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- Showcase-->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
        aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Home.jpg' %}" alt="" />

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Accomodation</h1>
            <p>
              Some representative placeholder content for the first slide of
              the carousel.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Frontdesk.jpg' %}" alt="" />

        <div class="container">
          <div class="carousel-caption">
            <h1>Accomodation.</h1>
            <p>
              Some representative placeholder content for the second slide of
              the carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Room2.jpg' %}" alt="" />

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Accomodation</h1>
            <p>
              Some representative placeholder content for the third slide of
              this carousel.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Browse gallery</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- List Room -->
  <div class="container marketing">
    <!-- Structure codes ng Features -->
    <hr class="featurette-divider" />
    <div class="container row featurette">
      <div class="col-md-7" data-aos="fade-down">
        <h2 class="featurette-heading">SINGLE ROOM</h2>
        <p class="lead">
          Single room: these rooms are assigned to one person or a couple.
        </p>
      </div>
      <div class="col-md-5" data-aos="fade-down">
        <img class="featurette-image img-responsive center-block boxing" src="{% static  'img/single_room.jpg' %}"
          alt="Generic placeholder image"/>
      </div>
    </div>
    <!-- end tag ng row featurette -->
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5" data-aos="fade-up">
        <h2 class="featurette-heading">TWIN ROOM</h2>
        <p class="lead">
          room with 2 single beds. It may be occupied by 1 – 2 persons
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7" data-aos="fade-up">
        <img class="featurette-image img-responsive center-block boxing" src="{% static  'img/twin_room.jpg' %}"
          alt="Generic placeholder image" />
      </div>
    </div>
    <!-- end tag ng row featurette -->
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7" data-aos="fade-right">
        <h2 class="featurette-heading">DOUBLE ROOM</h2>
        <p class="lead">
          a room occupied by two persons with 1 or 2 beds
        </p>
      </div>
      <div class="col-md-5" data-aos="fade-right">
        <img class="featurette-image img-responsive center-block boxing" src="{% static  'img/double_room.jpg' %}"
          alt="Generic placeholder image" />
      </div>
    </div>
    <!-- end tag ng row featurette -->
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5" data-aos="fade-up">
        <h2 class="featurette-heading">TRIPLE ROOM</h2>
        <p class="lead">
          a room occupied by three people, may have 1 double bed and a roll away bed or 2 single beds plus a roll away bed 
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7" data-aos="fade-up">
        <img class="featurette-image img-responsive center-block boxing" src="{% static  'img/triple_room.jpg' %}"
          alt="Generic placeholder image" />
      </div>
    </div>
    <hr class="featurette-divider" />
  </div>
  <!-- end tag ng container marketing-->
  <footer class="mt-4 mb-4">
    <div class="text-center">
      <span>Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
          </script>
        CTHM Mock Hotel Service System in PRMSU Iba Main Campus.
      </span>
    </div>
  </footer>
  <!-- AOS Script -->
  <!-- link ng js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="% static  'js/bootstrap.min.js' %}"></script>
  <script src="{% static  'js/aos.js' %}"></script>
  <script>
    AOS.init({
      offset: 300,
      duration: 1000,
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>