{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/" />
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/accomodation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.all.css' %}" />
    <title>Contact Page</title>
</head>
<body>
    <!-- Navigation -->
    <header class="p-3 bg-primary text-white" style="background-color: maroon !important; margin-bottom: 50px !important;">
        <div class="container-fluid">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
              </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li>
                <a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false">Branches</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Iba Main Campus</a>
                  <a class="dropdown-item" href="#">Not Available</a>
                  <a class="dropdown-item" href="#">Not Available</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Not Available</a>
                </div>
              </li>
              <li>
                <a href="{% url 'accomodation' %}" class="nav-link px-2 text-white">Rooms</a>
              </li>
              <li>
                <a href="{% url 'contact' %}" class="nav-link px-2 text-white">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
    </header>
    <!-- Showcase -->
  <div class="mag">
    <div id="myCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
          aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Home.jpg' %}" alt="" />
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Accomodation</h1>
              <p>
                Some representative placeholder content for the first slide of
                the carousel.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Frontdesk.jpg' %}" alt="" />
  
          <div class="container">
            <div class="carousel-caption">
              <h1>Accomodation.</h1>
              <p>
                Some representative placeholder content for the second slide of
                the carousel.
              </p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Room2.jpg' %}" alt="" />
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Accomodation</h1>
              <p>
                Some representative placeholder content for the third slide of
                this carousel.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#">Browse gallery</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    <!-- Contact Form -->
    <section id="contact">
        <!-- <h2>For more Info Please Fill up Below</h2> -->
      <div class="container-contact">

        <!-- Contact Details -->
        <div class="contact-box">
            <h2>Contact Details</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Reprehenderit, tenetur.</p>

            <div class="social-media">

                <p>Social Media Site</p>   

            <a class="social-media-link" href="https://github.com" target="_blank"> <i
                    class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>

            <a class="social-media-link" href="https://facebook.com" target="_blank"> <i
                    class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>

            <a class="social-media-link" href="https://google.com" target="_blank"> <i
                    class="fa fa-google fa-2x" aria-hidden="true"></i></a>

            <a class="social-media-link" href="https://twitter.com" target="_blank"> <i
                    class="fa fa-twitter-square fa-2x" aria-hidden="true" target="_blank"></i></a>

            <div class="number-group">
                <p class="number-head">Contact Number</p>
                <p>09278432078</p>
            </div>
                    
            <div class="email-group">
                <p class="head-p">Email Address</p>
                <p>cleofastiano27@gmail.com</p>
            </div>

            </div>

        </div>

        <!-- Contact Section -->
        <div class="contact-box">
            <div class="contact-form">
                <form name="email-form" method="POST" data-netlify="true">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter your Name">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter your Email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" placeholder="Enter your Message"></textarea>
                    </div>
                    <input type="submit" class="btn-contact" value="Send">
                </form>
            </div>
        </div>
      </div>
   </section>
   <footer class="mt-5 mb-4" id="footers-contact">
    <div class="text-center">
      <span>Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        CTHM Mock Hotel Service System in PRMSU Iba Main Campus.
      </span>
    </div>
  </footer>
   <!-- AOS Script -->
  <!-- link ng js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="% static  'js/bootstrap.min.js' %}"></script>
  <script src="{% static  'js/aos.js' %}"></script>
  <script>
    AOS.init({
      offset: 300,
      duration: 1000,
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>