{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'css/contact.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <!--  -->
  <title>CTHM Mock Hotel Reservation System</title>
</head>

<body>

  <!-- Navigation -->
  <header class="p-3 bg-primary text-white">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Branches</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'addroom' %}">Iba Main Campus</a>
              <a class="dropdown-item" href="#">Not Available</a>
              <a class="dropdown-item" href="#">Not Available</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Not Available</a>
            </div>
          </li>
          <li>
            <a href="{% url 'accomodation' %}" class="nav-link px-2 text-white">Rooms</a>
          </li>
          <li>
            <!-- <a href="{% url 'contact' %}" class="nav-link px-2 text-white">Contact Us</a> -->
            <a href="#contact" class="nav-link px-2 text-white">Contact Us</a>
          </li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-outline-secondary me-2">
            <a href="{% url 'bookPage' %}" style="text-decoration: none; color: white;">Book Now!</a>
          </button>
          <!-- <button type="button" class="btn btn-secondary text-white">
            <a href="#" style="text-decoration: none; color: white">Sign Up</a>
          </button> -->
        </div>
      </div>
    </div>
  </header>

  <!-- Carousel wrapper -->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
        aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Home.jpg' %}" alt="">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Frontdesk.jpg' %}" alt="">

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img width="100%" height="750px" class="show-case-image" src="{% static  'img/Room2.jpg' %}" alt="">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Rooms and Gallery -->
  <h2 class="mt-5 text-center">Rooms & Services</h2>
  <section class="gallery-content" id="gals">
    <div class="container-services">
      <!-- Card 1 -->
      <div class="cards-c">
        <div class="img-div-class">
          <img src="{% static  'img/Room1.jpg' %}" alt="">
        </div>
        <h3 class="cloud-plat">Standard Room</h3>
        <p class="p-cloud">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore nemo qui magni
          saepe dolores.</p>
      </div>
      <!-- Card 2 -->
      <div class="cards-c">
        <div class="img-div-class">
          <img src="{% static  'img/Room2.jpg' %}" alt="">
        </div>
        <h3 class="cloud-plat">Standard Twin Rooms</h3>
        <p class="p-cloud">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore nemo qui magni
          saepe dolores.</p>
      </div>
      <!-- Card 3 -->
      <div class="cards-c">
        <div class="img-div-class">
          <img src="{% static  'img/Room3.jpg' %}" alt="">
          <h3 class="cloud-plat">Deluxe Room</h3>
          <p class="p-cloud">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore nemo qui magni
            saepe dolores.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Others -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
      <h1 class="display-5 fw-bold">Welcome to our Mock Hotel System</h1>
      <p class="col-md-8 fs-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        ullam unde velit totam aliquid nobis ducimus rem! Minima recusandae
        quas aspernatur cumque eius, beatae quae voluptates? Minima, sapiente!
      </p>
      <button class="btn btn-primary btn-lg" type="button">View More</button>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Working on this Page</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            reprehenderit distinctio animi. Fuga, delectus voluptatem
            repellat, cupiditate maiores molestiae autem quod sequi commodi
            dolor numquam.
          </p>
          <button class="btn btn-outline-light" type="button">
            View More
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Working on this Page</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            modi! Officiis explicabo nemo perferendis, velit soluta asperiores
            dolor aliquid aspernatur doloribus maiores debitis, cum facere.
          </p>
          <button class="btn btn-outline-secondary" type="button">
            View More
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <section id="contact">
    <!-- Contact Details -->
    <div class="container-contact">
      <div class="contact-box">
        <h2>Contact Details</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Reprehenderit, tenetur.</p>
        <div class="social-media">
          <p>Social Media Site</p>
          <a class="social-media-link" href="https://github.com" target="_blank"> <i class="fa fa-github-square fa-2x"
              aria-hidden="true"></i></a>
          <a class="social-media-link" href="https://facebook.com" target="_blank"> <i
              class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          <a class="social-media-link" href="https://google.com" target="_blank"> <i class="fa fa-google fa-2x"
              aria-hidden="true"></i></a>
          <a class="social-media-link" href="https://twitter.com" target="_blank"> <i class="fa fa-twitter-square fa-2x"
              aria-hidden="true" target="_blank"></i></a>
          <div class="number-group">
            <p class="number-head">Contact Number</p>
            <p>09278432078</p>
          </div>
          <div class="email-group">
            <p class="head-p">Email Address</p>
            <p>cleofastiano27@gmail.com</p>
          </div>
        </div>
      </div>
      <!-- Contact Section Form -->
      <div class="contact-box">
        <div class="contact-form">
          <form name="email-form" method="POST" data-netlify="true">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" placeholder="Enter your Name">
            </div>
            <div class="form-group">
              <label for="name">Email</label>
              <input type="email" name="email" id="email" placeholder="Enter your Email">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea name="message" id="message" placeholder="Enter your Message"></textarea>
            </div>
            <input type="submit" class="btn-contact" value="Send">
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footers -->
  <footer class="mt-4 mb-4">
    <div class="text-center">
      <span>Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        CTHM Mock Hotel Service System in PRMSU Iba Main Campus.
      </span>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>