/*********************************************************************************/

/* Importing Font Styles                                                         */

/*********************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*********************************************************************************/

/* Root Scope for Base Color Styles Color Variable                               */

/*********************************************************************************/

:root {
    --first-color: #eaeaea;
    --second-color: #d48b68;
    --third-color: #a66bbe;
    --thirdy-color: #a50404;
    --fourth-color: #9a3ebe;
    --fifth-color: #d36efc;
    --other-color: #680b8d;
    --light-color: #d97aff;
    --content-color: #333;
    --shadow: 0 1px 5px #d36efc;
    --media: 0 1px 5px #b8b8b8;
}

/*********************************************************************************/

/* Reset                                                                         */

/*********************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************************************************************/

/* Body                                                                          */

/*********************************************************************************/

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/*********************************************************************************/

/* Utilities Section                                                             */

/*********************************************************************************/

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2 {
    line-height: 1.4;
}

.best-color {
    font-weight: bold;
    font-size: 45px;
    color: var(--fourth-color);
}

/*********************************************************************************/

/* Svg Style                                                                     */

/*********************************************************************************/

img {
    width: 100%;
}

/*********************************************************************************/

/* Navigation Section                                                            */

/*********************************************************************************/

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    background-color: var(--third-color);
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.logo{
    color: #ffffff;
    font-size: 29px;
    line-height: 60px;
    padding: 0px 20px;
    margin-top: 3px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    float: left;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 30px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover
{
    background: var(--fourth-color);
    color: #ffffff;
    transition: 0.5s;
}

/*********************************************************************************/

/* Cloud Section                                                                */

/*********************************************************************************/

#product-a {
    /* height: 90vh; */
    margin: 1.2rem 7rem;
}

.product-img {
    margin-left: 9rem;
    width: 70%;
    height: 490px;
}

#product-a .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 95px;
    justify-content: center;
    align-items: center;
}

#product-a h1 {
    font-weight: lighter;
    font-size: 3.3rem;
    color: var(--content-color);
}

#product-a p {
    font-size: 19px;
    margin: 1rem 0;
    margin-bottom: 1.8rem;
}

.btn-product {
    display: inline-block;
    background-color: var(--third-color);
    color: #fff;
    padding: 0.4rem 1.5rem;
    border: none;
    text-align: center;
    font-size: 1rem;
    border-radius: 6px;
}

.btn-product-01 {
    color: #333;
    display: inline-block;
    border: 1px var(--other-color) solid;
    padding: 0.4rem 1.5rem;
    border-radius: 6px;
}

.btn-product-01:hover {
    border: 0.3px var(--third-color) solid;
    color: #fff;
    transition: all.4s;
    background-color: var(--third-color);
}

/*********************************************************************************/

/* Our Service                                                                   */

/*********************************************************************************/

#our-services {
    /* background-color: var(--third-color); */
    padding: 15px 0;
    margin-bottom: 90px;
}

#our-services .title-services {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
    color: #333333;
}

#our-services .container {
    margin: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.4rem;
}

#our-services .container .box {
    color: #333333;
    background-color: #ffffff;
    padding: 2.4rem 1rem;
    transition: all.4s;
    box-shadow: var(--shadow);
}

#our-services .container .box:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.spacing{
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 150px;
}

#our-services .container .cloud-plat {
    margin-top: 40px;
    color: var(--other-color);
    text-align: center;
    font-size: 23px;
}

#our-services .container .manage-info {
    margin-top: 40px;
    color: var(--other-color);
    text-align: center;
    font-size: 23px;
}

#our-services .container .web-dev {
    margin-top: 40px;
    color: var(--other-color);
    text-align: center;
    font-size: 23px;
}

#our-services .container .p-cloud, 
#our-services .container .p-manage, 
#our-services .container .p-web {
    margin-top: 17px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 2px;
    font-size: 17px;
}

/*********************************************************************************/

/* Contact                                                                       */

/*********************************************************************************/

#contact {
    background-color: var(--thirdy-color);
    margin-bottom: -40px;
    margin-top: 80px;
}

#contact .contact-box>h2 {
    font-size: 31px;
    margin-left: 30px;
    color: #ffffff;
}

.container-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 1rem;
    padding: 3rem 1.4rem;
}

.contact-box {
    background-color: var(--thirdy-color);
}

.contact-box>p {
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 33px;
    line-height: 1.7;
    margin-bottom: 18px;
}

.container-contact .contact-box .contact-form {
    border-radius: 7px;
    margin: 1rem;
    background-color: #fff;
    padding: 2rem;
}

#contact .contact-form label {
    margin-bottom: .5rem;
    display: block;
    float: left;
}

#contact .contact-form input, #contact .contact-form textarea {
    margin-bottom: 1rem;
    width: 100%;
    padding: .5rem;
}

.btn-contact {
    background-color: var(--thirdy-color);
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.75;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.social-media {
    margin-top: 10px;
    margin-left: 20px;
}

.social-media .social-media-link {
    color: #fff;
    margin-left: 9px;
    font-size: 14px;
}

.social-media>p {
    font-size: 19px;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.number-group {
    margin-top: 10px;
    margin-left: 10px;
}

.number-group .number-head {
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}

.number-group>p {
    color: #fff;
    font-size: 16px;
}

.email-group {
    margin-top: 10px;
    margin-left: 10px;
}

.email-group .head-p {
    font-weight: bold;
    color: #fff;
    font-size: 19px
}

.email-group>p {
    color: #fff;
    font-size: 16px;
}

/*********************************************************************************/

/*  Footer Section                                                               */

/*********************************************************************************/

#copyright {
    text-align: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    padding: 3em 2em;
    font-size: 1.1rem;
    background-color: var(--fourth-color);
    color: #fff
}

#copyright .container>p {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
}

#footers-contact{
    margin-top: 100px !important;
}

/*********************************************************************************/

/* For Media Queries Mobile Responsive Styling                                   */

/*********************************************************************************/

@media only screen and (min-width: 10px) and (max-width: 400px) {

    .menu-toggle{
        display: block;
        float: right;
        margin-top: 13px;
        margin-right: 15px;
        padding: 0px 10px;
        cursor: pointer;
        text-align: center;
        border-radius: 6px;
        font-size: 20px;
        color: #333333;
        border: 1px solid #333333;
        /* transition: all.5s; */
    }

    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
    }

    .menu-toggle.active:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        transition: all 0.4s ease;
       
    }

    .menu-toggle:hover{
        background-color: var(--other-color);
        color: #ffffff;
    }


    header{
        background-color: #fff;
    }

    nav{
        display: none;
    }

    header > .logo{
        font-size: 20px;
        margin-left: 10px;
        padding-left: 9px;
        font-weight: 900;
        padding-right: 9px;
        color: #333333;
    }

    nav.active{
        display: block;
        width: 100%;
    }

    nav.active ul{
        display: block;
    }

    nav.active ul li a{
        margin: 0;
        color: #333333;
    }

    nav ul li a:hover
    {
        background: var(--fourth-color);
        color: #ffffff;
        transition: 0.5s;
    }


    /* Para mag Align siya pababa */
    #product-a .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #product-a h1 {
        font-weight: lighter;
        font-size: 2.3rem;
        color: var(--content-color);
    }

    #product-a .container .content {
        order: 2;
    }

    .best-color {
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--fourth-color);
    }

    #product-a .container div {
        width: 300px;
        text-align: left;
    }

    #product-a .container div h1, 
    #product-a .container div p {
        margin-left: 12px;
    }

    #product-a .container div .btn-product {
        margin-left: 15px;
    }

    #product-a .product-img {
        margin-top: 20px;
        margin-left: 43px;
        height: 200px;
    }

    /*  */
    
    #our-services .container {
        margin: 1.5rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.3rem;
    }

    #our-services .container .cloud-plat{
        font-size: 18px;
        margin-top: 9px;
    }

    #our-services .container .manage-info,
    #our-services .container .web-dev {
        margin-top: 0px;
        font-size: 18px;
    }
    #our-services .container .p-cloud, 
    #our-services .container .p-manage, 
    #our-services .container .p-web {
        margin-top: 10px;
        line-height: 1.6;
        letter-spacing: 2px;
        font-size: 13px;
    }

    #our-services .container .box {
        color: #333333;
        background-color: #ffffff;
        padding: 1rem 0.55rem;
        transition: all.4s;
        box-shadow: var(--media);
        font-size: 19px;
        border-radius: 3px;
    }

    #our-services .title-services>h1 {
        font-size: 23px;
    }

    #our-services>img {
        margin-bottom: -2px;
        width: 40%;
    }


    /*  */
    .container-contact .contact-box .contact-form {
        border-radius: 7px;
        margin: 1rem;
        background-color: #fff;
        padding: 1rem;
    }
    .container-contact {
        display: grid;
        grid-template-columns: 1fr;
        ;
        padding: 1.6rem 1.9rem;
        margin-top: -60px;
    }

    .container-contact .contact-box>h2, 
    .container-contact .contact-box>p {
        display: none;
    }

    .container-contact .contact-box .btn-contact {
        margin-top: -2px;
    }

    #copyright {
        padding: 2.2em 2em;
        font-size: 1rem;
    }
}


/*********************************************************************************/

/* Fit for Screen 500px Only                                                     */

/*********************************************************************************/
@media only screen and (min-width: 401px) and (max-width: 500px){

    .menu-toggle{
        display: block;
        float: right;
        margin-top: 13px;
        margin-right: 15px;
        padding: 0px 10px;
        cursor: pointer;
        text-align: center;
        border-radius: 6px;
        font-size: 20px;
        color: #333333;
        border: 1px solid #333333;
        /* transition: all.5s; */
    }

    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
    }

    .menu-toggle.active:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        transition: all 0.4s ease;
       
    }

    .menu-toggle:hover{
        background-color: var(--other-color);
        color: #ffffff;
    }


    header{
        background-color: #fff;
    }

    nav{
        display: none;
    }

    header > .logo{
        font-size: 20px;
        margin-left: 10px;
        padding-left: 9px;
        font-weight: 900;
        padding-right: 9px;
        color: #333333;
    }

    nav.active{
        display: block;
        width: 100%;
    }

    nav.active ul{
        display: block;
    }

    nav.active ul li a{
        margin: 0;
        color: #333333;
    }

    nav ul li a:hover
    {
        background: var(--fourth-color);
        color: #ffffff;
        transition: 0.5s;
    }


    #product-a{
        text-align: center;
    }

    #product-a .container {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }

    #product-a h1 {
        font-weight: lighter;
        font-size: 2.3rem;
        color: var(--content-color);
    }

    #product-a .container .content {
        order: 2;
    }

    .best-color {
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--fourth-color);
    }

    #product-a .container div {
        width: 300px;
        text-align: left;
    }

    #product-a .container div h1, 
    #product-a .container div p {
        margin-left: 12px;
    }

    #product-a .container div .btn-product {
        margin-left: 15px;
    }

    #product-a .product-img {
        margin-top: 100px;
        margin-left: 43px;
        height: 200px;
    }

    #our-services{
        width: 500px;
    }

    #our-services .container {
        margin: 1.5rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.3rem;
    }

    #our-services .container .cloud-plat{
        font-size: 18px;
        margin-top: 9px;
    }

    #our-services .container .manage-info,
    #our-services .container .web-dev {
        margin-top: 0px;
        font-size: 18px;
    }
    #our-services .container .p-cloud, 
    #our-services .container .p-manage, 
    #our-services .container .p-web {
        margin-top: 10px;
        line-height: 1.6;
        letter-spacing: 2px;
        font-size: 13px;
    }

    #our-services .container .box {
        color: #333333;
        background-color: #ffffff;
        padding: 1rem 0.55rem;
        transition: all.4s;
        box-shadow: var(--media);
        font-size: 19px;
        border-radius: 3px;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    #our-services .title-services>h1 {
        font-size: 23px;
    }

    #our-services > img {
        margin-bottom: -2px;
        width: 40%;
    }

    /*  */

    #contact{
        width: 500px;
    }
    .container-contact .contact-box .contact-form {
        border-radius: 7px;
        margin: 1rem;
        background-color: #fff;
        padding: 1rem;
    }
    .container-contact {
        display: grid;
        grid-template-columns: 1fr;
        ;
        padding: 1.6rem 1.9rem;
        margin-top: -60px;
    }

    .container-contact .contact-box>h2, 
    .container-contact .contact-box>p {
        display: none;
    }

    .container-contact .contact-box .btn-contact {
        margin-top: -2px;
    }

    #copyright {
        width: 500px;
        text-align: center;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        padding: 3em 2em;
        font-size: 1.1rem;
        background-color: var(--fourth-color);
        color: #fff
    }
    
    #copyright .container > p {
        margin-top: 1rem;
        text-align: center;
        font-weight: 500;
    }

}


@media only screen and (min-width: 401px) and (max-width: 480px) 
{

    #product-a{
        text-align: center;
    }

    #product-a .container {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 30px;
    }

    #product-a h1 {
        font-weight: lighter;
        font-size: 2.3rem;
        color: var(--content-color);
    }

    #product-a .container .content {
        margin-left: 60px;
        order: 2;
    }

    .best-color {
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--fourth-color);
    }

    #product-a .container div {
        width: 300px;
        text-align: left;
    }

    #product-a .container div h1, 
    #product-a .container div p {
        margin-left: 12px;
    }

    #product-a .container div .btn-product {
        margin-left: 15px;
    }

    #product-a .container > div > .product-img {
        margin-top: 100px;
        text-align: center;
        float: right;
        height: 200px;
    }
}