:root {
    --first-color: #eaeaea;
    --second-color: #d48b68;
    --third-color: #a66bbe;
    --fourth-color: #9a3ebe;
    --fifth-color: #d36efc;
    --other-color: #ec2c2c;
    --light-color: #d97aff;
    --content-color: #333;
    --shadow: 0 1px 5px #ff7e7e;
    --media: 0 1px 5px #b8b8b8;
    --first-color: #eaeaea;
    --second-color: #d48b68;
    --third-color: #a66bbe;
    --thirdy-color: #a50404;
    --fourth-color: #9a3ebe;
    --fifth-color: #d36efc;
    --other-color: #680b8d;
    --light-color: #d97aff;
    --content-color: #333;
    --shadow: 0 1px 5px #d36efc;
    --media: 0 1px 5px #b8b8b8;
}
.gallery-content{
    padding: 15px 0;
    margin-bottom: 90px;
}
.container-services{
    margin: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.4rem;
}
.container-services .cards-c{
    color: #333333;
    background-color: #ffffff;
    padding: 2.4rem 1rem;
    transition: all.4s;
    box-shadow: var(--shadow);
}

.gallery-content .container-services .cloud-plat {
    margin-top: 40px;
    color: var(--other-color);
    text-align: center;
    font-size: 35px;
}

.cards-c img{
    width: 100%;
    height: 360px;
}

/*********************************************************************************/

/* Contact                                                                       */

/*********************************************************************************/

#contact {
    background-color: var(--thirdy-color);
    margin-bottom: -40px;
}

#contact .contact-box>h2 {
    font-size: 31px;
    margin-left: 30px;
    color: #ffffff;
}

.container-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 1rem;
    padding: 3rem 1.4rem;
}

.contact-box {
    background-color: var(--thirdy-color);
}

.contact-box>p {
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 33px;
    line-height: 1.7;
    margin-bottom: 18px;
}

.container-contact .contact-box .cthm-contact-form {
    border-radius: 7px;
    margin: 1rem;
    background-color: #fff;
    padding: 2rem;
}

#contact .contact-form label {
    margin-bottom: .5rem;
    display: block;
    float: left;
}

#contact .contact-form input, #contact .contact-form textarea {
    margin-bottom: 1rem;
    width: 100%;
    padding: .5rem;
}

.btn-contact {
    background-color: var(--thirdy-color);
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.75;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.social-media {
    margin-top: 10px;
    margin-left: 20px;
}

.social-media .social-media-link {
    color: #fff;
    margin-left: 9px;
    font-size: 14px;
}

.social-media>p {
    font-size: 19px;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.number-group {
    margin-top: 10px;
    margin-left: 10px;
}

.number-group .number-head {
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}

.number-group>p {
    color: #fff;
    font-size: 16px;
}

.email-group {
    margin-top: 10px;
    margin-left: 10px;
}

.email-group .head-p {
    font-weight: bold;
    color: #fff;
    font-size: 19px
}

.email-group>p {
    color: #fff;
    font-size: 16px;
}