{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Welcome to Our CTHM Management Systen</title>
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="#">CTHM Mock Hotel</a></li>
            <li class="item button"><a href="{% url 'login_page' %}">Log In</a></li>
            <li class="item button secondary"><a href="{% url 'register' %}">Sign Up</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    <script src="{% static  'js/function.js' %}"></script>
</body>
</html>