{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Regsiter Form</title>
</head>
<body>
    <div class="form-container">
       <form action="" method="POST">
           {% csrf_token %}
           <h3>register now</h3>
           <input type="text" id="fname" name="fname" required placeholder="enter your first name">
           <input type="text" id="lname" name="lname" required placeholder="enter your last name">
           <input type="text" id="username" name="username" required placeholder="enter your username">
           <input type="email" name="email" required placeholder="enter your email">
           <input type="password" id="pass1" name="pass1" required placeholder="enter your password">
           <input type="password" id="pass2" name="pass2" required placeholder="confirm your password">
           <!-- <select name="user_type">
              <option value="user">user</option>
              <option value="admin">admin</option>
           </select> -->
           <input type="submit" name="submit" value="register now" class="form-btn">
        </form>
     </div>
</body>
</html>